<h6 class="text-center">Funcionarios Cadastrados</h6><br/>
<table class="table table-sm table-hover">
  <tr *ngFor="let funcionario of funcionarioList">
  
      <td>{{funcionario.nome}}</td>
      <td style="color:red">|</td>
      <td>{{funcionario.cargo}}</td>
      <td style="color:red">|</td>
      <td>{{funcionario.departamento}}</td>
    
      
      <td>
        <a class="btn" (click)="onEdit(funcionario)">
          <i class="fa fa-pencil-square-o"></i>
        </a>
        <a class="btn" (click)="onDelete(funcionario.$key)">
          <i class="fa fa-trash-o"></i>
        </a>
      </td>
  </tr>
</table>